<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(AuthLayout)">
                <NotAuthorized>
                    <p style="color: white;">Для доступа к этой странице необходимо авторизоваться.</p>
                    <a style="color: white; cursor: pointer; text-decoration: underline" onclick="@(async () => await NavigateToAuth())">Перейти на страницу авторизации</a>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <Microsoft.AspNetCore.Components.Web.PageTitle>Not found</Microsoft.AspNetCore.Components.Web.PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code
{
    [CascadingParameter] private Task<AuthenticationState> authenticationState { get; set; }
    [Inject] public NavigationManager NavigationManager { get; set; }
    
    async Task NavigateToAuth()
    {
        NavigationManager.NavigateTo(NavigationManager.BaseUri + "adminka/auth");
    }
}
