@using Tabler.Docs
@using TirileckWorkshop.Authentication
<Navbar Background="NavbarBackground.Dark" Direction="NavbarDirection.Vertical">

    <a href="https://github.com/joadan/Blazor-Tabler" class="navbar-brand navbar-brand-autodark">
        <h2 class="text-muted">Magic Adminka</h2>
    </a>

    <NavbarMenu>
        <NavbarMenuItem Href="adminka/dashboard" Text="Дашбоард">
            <MenuItemIcon>
                <Icon class="icon" IconType="@TablerIcons.Dashboard" />
            </MenuItemIcon>
        </NavbarMenuItem>
        <NavbarMenuItem Href="adminka/orders" Text="Заказы">
            <MenuItemIcon>
                <Icon class="icon" IconType="@TablerIcons.Menu_order" />
            </MenuItemIcon>
        </NavbarMenuItem>
        <NavbarMenuItem Href="adminka/users" Text="Пользователи">
            <MenuItemIcon>
                <Icon class="icon" IconType="@TablerIcons.Users" />
            </MenuItemIcon>
        </NavbarMenuItem>
        <AuthorizeView>
            <Authorized>
                <NavbarMenuItem OnClick="@Logout" Text="Выйти">
                    <MenuItemIcon>
                        <Icon class="icon" IconType="@TablerIcons.Users" />
                    </MenuItemIcon>
                </NavbarMenuItem>
            </Authorized>
        </AuthorizeView>

    </NavbarMenu>
</Navbar>

@code
{
    [Inject] public AuthenticationStateProvider StateProvider { get; set; }
    [Inject] public NavigationManager NavigationManager { get; set; }
    
    async Task Logout()
    {
        var customAuthenticationStateProvider = (CustomAuthenticationStateProvider)StateProvider;
        await customAuthenticationStateProvider.UpdateAuthenticationState(null);
        NavigationManager.NavigateTo(NavigationManager.BaseUri + "adminka/auth", true);
    }
}
